*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

.container{
    width: 960px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.hero{
    
    height: 700px;
    padding-top: 25px;
    padding-bottom: 50px;
    background-image: url(../img/653f811d5dea4b8d21137aaa_Web-story-dublin-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container{
        position: relative;
        padding-top: 70px;

        h1{
            font-size:2em;
            margin-top: 1em;
            color: #ffffff;
        }
    }

    &::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .7;
        content: '';
    }

    img{
        height: 200px;
    }

    &__info{
        padding: 16px 24px;
        background-color: #ffffff;
        margin: 50px;

        &--details{
            display: flex;
            gap: 50px;
            margin-left: 10px;

            button{
                font-size: 1.2rem;
                width: 200px;
                margin-left: 50px;
                background-color: #5757af;
                border: none;
                color: #ffffff;

                &:hover{
                    cursor: pointer;
                    background-color: #3d3d76;
                }
            }

            &-item{

                h2{
                    display: block;
                    text-align: left;
                    font-size: 1.2rem;
                }

                p{
                    display: block;
                    text-align: left;
                    font-size: 1rem;  
                    color: black;
                    
                }
            }
        }
    }
}

.event__thedublin{
    background-image: linear-gradient(#473b8f,#5b57a2);
}

.event_good{
    background-image: linear-gradient(#5b57a2,#5d6cb1);
}

.event_medical{
    background-image: linear-gradient(#5d6cb1,#51a8d6);
}

.event{
    padding: 100px 0;
    color: #ffffff;

    .container{
        display: flex;
        align-items: center;
        gap:50px;

        &__invet{
            flex-direction: row-reverse;
        }
    }

    &__description{


        &--title{
            font-size: 1.25rem;
            font-weight: bold;
        }

        &--details{
            font-size: 0.875rem;
            margin-top: 10px;
        }
    }

    &__img{
        max-width: 300px;
    }
}

footer{
    width: 100%;
    background-color: #473b8f;
    color: #ffffff;
    padding: 30px;
    text-align: center;

}

@media (max-width: 1024px) {
    
    .container{
        width: 80%;

        img{
            height: 20vw;
        }
    }

    .hero{
        &__info{
            &--details{
                button{
                    margin-left: 0px;
                }
            }
        }
    }
}

@media (max-width: 640px) {

    .hero{
        height: 750px;
        padding-top: 25px;
        
        &__info{
            padding: 16px 24px;
            background-color: #ffffff;
            margin: 0px;
            margin-top: 30px;   
    
            &--details{
                display: block;
                gap: 0px;
                margin-left:0px;
                text-align: center;
                margin-bottom: 10px;
    
                button{
                    font-size: 25px;
                    width: 200px;
                    margin-left: 0px;
                }

                &-item{

                    h2{
                        text-align: center;
                        font-size: 20px;
                        margin-bottom: 5px;
                    }

                    p{
                        text-align: center;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    .event{
        .container{
            display: block;

            img{
                width: 100%;
                height:auto

            }
            }


        &__img{
            margin-top: 50px;
        }    
    }
}

